- var user = {name: "Кодовёнок",avatar: "/images/avatar_1.jpg"};
div
    img(src=`.${user.avatar}` class="rounded-circle mb-3" alt=`Avatar`)
    h6(class="h6 m-0 text-center") Привет, #{user.name}
    div(class="small text-center text-muted") Выбери чат, чтобы начать общаться