$spacer: 1rem;
$enable-shadows: true;

$theme-colors: (
  "primary": #4545a5,
  "light": #fbfbfb,
  "gray": #efefef
);

$spacers: (
  6: ($spacer * 2)
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1540px
);

$box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.08);
$grid-gutter-width: 0;
